html {
    font-size: 62.8%;
}

body {
    font-family: 'Roboto', sans-serif;
}

// Layout - Navigation

.navigation-item {
    font-size: 1.6rem;
    margin-right: 10rem;
    cursor: pointer;
}

// Text Side

.text {

    text-transform: uppercase;

    &-mainheader {
        font-weight: bolder;
        font-size: $heading-size;
    }

    &-subheader {
        font-size: $subheading-size;
        font-weight: lighter;
    }
}

.text-subheading-header {
    font-size: 2.6rem;
    color: $primary-color;
}

.text-subheading-subheader {
    font-size: 1.7rem;
}