// NAVIGATION

.navigation-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: rgba(255, 0, 0, 0.308);
    width: 85%;
    margin-left: auto;

    &-section {
        display: flex;
        align-items: center;
        padding: 4rem 2rem;
    }
}

.navigation-item {
    
    list-style: none;

    &--icon {
        display: flex;
        align-items: center;
        color: $primary-color;
    }
}

// MAIN

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-content {
        width: 50%;
    }

}